.container
  flex 1
  align-items center
  background-color #fff

.inputItem
  padding 10px 0

.inputDesc
  padding 6px 0
  color #555
  font-size 16px
  letter-spacing 1px

.input
  border solid 1px #ddd
  width 300px
  background-color #fff
  color #333
  font-size 18px
  border-radius 3px
  padding 6px
  letter-spacing 1px

.submit
  background #58ACFA
  width 300px
  padding 15px 0
  margin-top 20px
  border-radius 4px
  align-items center

.submitText
  color #fff
  font-size 16px
  letter-spacing 3px
